{# This is the confirmation email sent after each registration #}
<h1>Bonjour !</h1>
<p>Vous venez de vous inscrire sur l'application Minou.</p>
<p>Merci de bien vouloir confirmer votre adresse mail en cliquant sur le lien suivant:</p><br>
<a href="{{ signedUrl }}">Confirm my Email</a>.
<p> Attention, ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
<p>Merci !</p>
