{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Races{% endblock %}

{% block body %}
    <h4>Détails de la race</h4>

    {{ include('breed/_form.html.twig', {'button_label': 'Mettres à jour'}) }}

    <a class="btn btn-outline-primary" href="{{ path('app_breed_index') }}">Retour à la liste</a>

    {{ include('breed/_delete_form.html.twig') }}
{% endblock %}
