{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Races{% endblock %}

{% block body %}
    <h4>Ajouter une nouvelle race</h4>

    {{ include('breed/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('app_breed_index') }}">Retour à la liste</a>
{% endblock %}
