.displaylost {
    .topcard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    .cat-picture {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .card {
        margin: 0.5rem;
        height: 500px;
        border-radius:10px;
        position: relative;
        box-shadow: 0px 3px 4px grey;
    }

    #help {
        position: relative;
        margin: 1rem;
    }

    .lost-date {
        margin: 1rem;
    }

    .lost-details {
        margin: 2rem 1rem 1rem 1rem;
        display: -webkit-box; 
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow:ellipsis;
    }

    .lost-signal {
        position: absolute;
        left: 40%;
        top: 350px;
    }

    .lost-btn {
        width: 200px;
        height: 50px;
        border-radius: 30px;
        line-height: 30px;
    }

    .lost-btn:hover {
        text-decoration: none;
    }

    #no-cat-lost {
        height: 400px;
        width: auto;
        border-radius: 50%;
    }

    .catname {
        font-size: 2rem;
        margin-left: 0.5rem;
        margin-top: 1rem;
    }

    #precise-arrow {
        margin: 0 auto;
        border: 1px solid black;
        border-radius: 50%;
        position: absolute;
        top: 40px;
        left: 48%;
    }
    .precise-item {
        display: block;
    }

    .visible {
        margin:3rem 1rem;
        padding: 1rem;
        background-color: white;
        border-radius: 10px;
    }
    .precise-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap:wrap
    }

    #results-count {
        margin-left: 2rem;
    }

    .see-btn {
        width: 80px;
        margin-left: 2rem;
        border-radius: 15px;
        vertical-align: middle;
    }

    .see-btn:hover {
        text-decoration: none;
    }

    .hidden {
        display:none;
    }

    .up {
        transform: rotate(180deg);
    }

}

.info {
    text-align: center;
    margin: 1rem;
}