.displaylost {
    .topcard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    .cat-picture {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .card {
        margin: 0.5rem;
        height: 600px;
    }
}