body {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    font-family: 'Montserrat';
    text-decoration: none;
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: lighter;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-Light.ttf');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-Medium.ttf');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-SemiBold.ttf');
}