body {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Montserrat';
    text-decoration: none;
    background-color: whitesmoke;
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: lighter;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-Light.ttf');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-Medium.ttf');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-SemiBold.ttf');
}

a:hover {
    color: var(--background-color);
    transform: scale(1.1);
    text-decoration: underline;
}

#icone {
    font-size: 40px;
    color: grey;
}

#icone:hover {
    color: grey;
    transform: scale(1.1);
}
