.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    #actualité {
        border: 1px solid black;
        padding: 1em;
        max-width: 400px;
        min-width: 200px;
        height: 70vh;
        overflow: scroll;
    }

    .article-picture {
        height: 200px;
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        overflow: hidden;
    }

    .article-picture-background {
        width: 100%;
        
    }
    .article-title {
        font-size: 1.5em;
        margin-top: 0.5em;
    }

    .article.text {
        text-align:justify;
        display: -webkit-box; 
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow:ellipsis;
    }

    .advice {
        height: 80px;
        width: 200px;
        margin: 0.2em;
        border-radius: 10px;
    }

    #buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card {
        width: 150px;
        height: 300px;
        border: 1px solid black
    }

    .card-img-top {
        height: 100%;
        width: auto;
    }

    .cat-picture {
        height: 100px;
        width: 100px;
        border-top-right-radius: 0.25em;
        overflow: hidden;
    }
   /*  .cats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        height: 40vh;
        overflow: scroll;
    } */

    h1 {
        font-size: 1.5em;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    #right, #left {
        max-width: 600px;
        margin-top: 50px;
    }
}