.home {
    
    .advice {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        align-items:flex-start;
        justify-content: flex-start;
        margin: 1rem 2rem;
    }

    .advice-arrow {
        border: 1px solid black;
        border-radius: 50%;
    }

    .advice-text {
        line-height: 35px;
    }

    .advice-title {
        line-height: 37px;
    }

    .alert {
        padding: 0 2rem;
        margin: 1rem 0.5rem;

    }

    .article {
        min-width: 250px;
        margin: 0.5rem 0.5rem;
        box-shadow: 1px 2px 4px darkgrey;
        border-radius: 10px;
        padding: 0.5rem;
        background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.7));
    }
    .article-picture {
        height: 300px;
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        overflow: hidden;
    }

    .article-picture-background {
        width: 100%;
        height: 300px;
    }

    .article-title {
        font-size: 1rem;
        margin: 0.5em 0;
        height: 40px;
        background: transparent;
    }

    .article-text {
        text-align:justify;
    }

    .btn {
        margin: 1rem;
    }

    img {
        object-fit:fill;
        overflow: hidden;
    }

    #cat1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #cat2 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #cat4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #cat5 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #cat6 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .card {
        height: 300px;
        max-width: 400px;
        min-width: 200px;
        margin: 0.5em;
        border-radius: 10px;
        box-shadow: 0px 2px 3px grey;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: rgb(254, 248, 248);
    }

    .card-img-top {
        height: 100%;
        width: auto;
    }

    #cat-2, #cat-12 {
        grid-column: span 2;
    }

    #cat-4, #cat-9 {
        grid-row: span 2;
    }

    .cat-picture {
        width: 180px;
        height: 300px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .cat-name {
        font-weight: bold;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .cats {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 0.3rem;
        padding: 2rem 0;
        
    } 

    .ellipsis {
        display: -webkit-box; 
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow:ellipsis;
    }

    .gallery {
       /*  height: 100vh; */
        width: 100%;
        padding:2rem;
        background-color: #413d3d;
        position: relative;
        overflow: hidden;
    }

    #grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 300px;
        gap: 1rem;
        /* height: 100vh; */
        overflow-y: scroll;
        grid-auto-flow: dense;
    }

    #grid::-webkit-scrollbar {
        background-color: #938888;
        width: 10px;
    }

    #grid::-webkit-scrollbar-thumb {
        background-color: #757575;
    }

    .grid-item {
        overflow: hidden;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .grid-img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
        display: block;
        transition: transform 0.2s ease;
    }

    .grid-img:hover {
        transform: scale(1.1);
        border-radius: 5px;
    }

    .grid-item:hover {
        transform: scale(1.05);
        border-radius: 5px;
        box-shadow: 0 0 10px darkslategrey;
        z-index: 2;
    }

    h2 {
        font-size: 1rem;
        height: 60px;
        margin-bottom: 1em;
        padding: 1rem;
        color: var(--text-color);
        background-color: var(--background-color);
        box-shadow: 0px 3px 4px rgb(170, 168, 168);
        z-index: 10;
    }

    .hidden {
        display:none;
    }

    .home {
        position: relative;
    }

    #icone {
        height: 30px;
        width: 30px;
    }
    #isLost {
        font-size: 2rem;
        color: #413d3d;
        margin: 0 1rem;
    }
    #item1 {
        padding-top: 1.3rem;
        width: 100%;
        position: sticky;
        top: 60px;
        z-index: 3;
        border-bottom: 0.4px solid white;
    }
    #item2 {
        padding-top: 1.3rem;
        width: 100%;
        position: sticky;
        top: 120px;
        z-index: 3;
        border-bottom: 0.4px solid white;
    }
    #item3 {
        padding-top: 1.3rem;
        width: 100%;
        position: sticky;
        top: 180px;
        z-index: 3;
        border-bottom: 0.4px solid white;
    }
    #item4 {
        padding-top: 1.3rem;
        width: 100%;
        position: sticky;
        top: 240px;
        z-index: 3;
    }
    
    .localize {
        margin: 0.5rem;
    }

    #localize {
        margin: 1rem;
    }

    #popup-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
    align-items: center;
    justify-content: center;
    }

    #popup-bg.active {
        display: flex;
    }

    #popup-close {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        cursor: pointer;
        transition: background-color 0.2s ease;
        border-radius: 50%;
    }

    #popup-close:hover {
        background-color: rgb(118, 108, 108);
    }

    #popup-content {
        max-width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #popup-img {
        width: 100%;
        height: auto;
    }

    .search {
        width: 280px;
    }

    .search-btns {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .seemore {
        min-width: fit-content;
        height: 2rem;
        margin: 1rem auto;
        padding: 0 1.5rem;
        font-weight: 400;
        font-size: 1rem;
        box-shadow: 0px 2px 4px rgb(216, 213, 213);
        border-radius: 4rem;
        background: transparent;
        color: var(--main-color);
        text-align: center;
        display: flex;
        align-items: center;
        cursor: pointer;
        opacity: 100%;
        border: none;
    }   
        
    .seemore:hover {
        transform: scale(1.1);
        box-shadow: 0px 2px 4px rgb(101, 101, 101);
    }

    .slick-arrow {
        height: 60px;
        width: 60px;
        background-color: rgb(129, 157, 209, 0.4);
        border-radius: 50%;
        z-index: 3;
    }

    .slick-prev:before, .slick-next:before {
        font-size: 50px;
    }

    .slick-prev {
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .slick-next {
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .slider {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    table {
        width: 100%;
    }
    .topcard {
        width: 180px;
        margin: 0.2rem;
    }

    .up {
        transform: rotate(180deg);
    }

    .visible {
        display: block;
        margin: 0 2rem;
        background-color: var(--background-color);
        padding: 2rem;
        border-radius: 20px;
        box-shadow: 1px 2px 4px darkgrey;
    }
}

#arrow-up {
    width: 70px;
    height: 70px;
    position: sticky;
    bottom: 10vh;
    left: 90vw;
    z-index: 20;
}

.gelatine {
    animation: hithere 1s ease infinite;
    }
@keyframes hithere {
30% { transform: scale(1.2); }
40%, 60% { transform: rotate(-20deg) scale(1.2); }
50% { transform: rotate(20deg) scale(1.2); }
70% { transform: rotate(0deg) scale(1.2); }
100% { transform: scale(1); }
}

