.catregister {
    margin: 2rem auto;;
    padding: 1rem;
    width: 80%;
    min-width: 180px;
    box-shadow: 0px 1px 3px grey;
}

#cat-register-button {
    width: 150px;
    display: block;
    margin: 0 auto;
}

#colors, #patterntype, #eyescolors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#eyes, #pattern, #color {
    width: 70%;
    min-width: 150px;
    padding: 0.5rem;
    margin: 0.5rem auto;
    display: block;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 6px rgb(191, 188, 188);
}

#eyes > p {
    width: 180px;
}

.logo {
    height: 50px;
    width: 50px;
}

.simple-color {
    border-radius: 50%;
}

.type {
    display: block;
    text-align: center;
}

.ui-menu-item-wrapper {
    background-color: white;
    opacity: 90%;
    width: 300px;
    display: -webkit-box; 
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow:ellipsis;
}

