<div class="footer">
    <nav>
        <ul>
            <li>Aide</li>
            <li>A propos</li>
            <li>CGU</li>
            <li>Contact</li>
        </ul>
    </nav>
</div>
        </ul>
    </nav>
</div>