<section id="sticky">
  <section id="logo">
      <img class="header-cat-picture" src="/pictures/bluecat.svg"</img>
      <p>MIN<span>OU ?</span></p>
  </section>
  <header id="navbar" class="navi">
      <div class="dropdown">
        <button>Administrer</button>
        <div class="content">
            <a href="">Articles</a>
            <a href="">Utilisateurs</a>
            <a href="">Messages</a>
        </div>
      </div>
      <div class="dropdown">
        <button>Chats</button>
        <div class="content">
            <a href="">Nouveau</a>
            <a href="">Liste</a>
        </div>
      </div>
      <a href="">C.G.U.</a>
      <a href="">Contact</a>
      <a class="icon" onclick="navDeploy()">&#9776;</a>   
  </header>
</section>

<script>
    function navDeploy() {
        var x = document.getElementById("navbar");
        if(x.className === "navi") {
          x.className += " responsive";
          } else {
            x.className = "navi";
        }
    }
</script>

