<section id="sticky">
    <header id="navbar" class="navi">
        {% if app.user and app.user.roles.0 in ['ROLE_ADMIN'] %}
        <div class="dropdown">
                <button>Administrer</button>
                <div class="content">
                    <a href="">Articles</a>
                    <a href="">Utilisateurs</a>
                    <a id="endlist" href="">Messages</a>
                </div>
        </div>
        {% endif %}
        {% if app.user %}
        <div class="dropdown">
            <button>Chats</button>
            <div class="content">
                <a href="">Nouveau</a>
                <a href="">Liste</a>
            </div>
        </div>
        {% endif %}
        <a href="{{ path('app_cgu') }}">C.G.U.</a>
        <a href="">Contact</a>
        {% if app.user %}
        <a href="{{ path('logout') }}">Déconnexion</a>
        {% else %}
        <a href="login">Connexion</a>
        {% endif %}
        <a class="icon" onclick="navDeploy()">&#9776;</a>   
    </header>
    <section id="logo">
        <img class="header-cat-picture" src="/pictures/bluecat.svg"</img>
        <p>MIN<span>OU ?</span></p>
  </section>
</section>

<script>
    function navDeploy() {
        var x = document.getElementById("navbar");
        if(x.className === "navi") {
            x.className += " responsive";
            } else {
            x.className = "navi";
        }
    }
</script>

