{% extends 'base.html.twig' %}

{% block title %}Hello CatController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   
<h2>Signaler un chat</h2>
<br>

    <p>Vos coordonnées sont les suivantes :</p>
    <input type="text" id="coordx" name="coordx">
    <input type="text" id="coordy" name="coordy">
    <input type="text" name="place">


</div>

<script>
    let coordx = document.getElementById('coordx');
    let coordy = document.getElementById('coordy');

   // if geolocation is activated, init function getPosition to catch current position
    if (navigator.geolocation)
        {
        navigator.geolocation.getCurrentPosition(showPosition);
        }
    else{x.innerHTML="Geolocation n’est pas prise en charge par ce navigateur.";}

    function showPosition(position)
    {
    // variables initiated to store positions
    let xposition = position.coords.longitude;
    let yposition = position.coords.latitude;
    // update input value to display coords
    document.getElementById('coordx').value = xposition;
    document.getElementById('coordy').value = yposition;
    // ajax on API service to catch place
    }


</script>
{# <script src="https://maps.googleapis.com/maps/api/js?
key=AIzaSyAJaDs8GhvKgIfGrMyp4D924YCoTryGgn0&library=places
&callback=initAutocomplete" async defer></script> #}
{% endblock %}
