{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Edition article{% endblock %}
{% block body %}
    <h3>Modifier l'article</h3>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary" href="{{ path('app_article_index') }}">Retour à la liste</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
