{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Nouvel article{% endblock %}

{% block body %}
<section class="article-crud">
    <h3 class="crud-theme-title">Ecrivez un nouvel article</h3>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}" class="btn btn-success crud-link">Retour à la liste</a>
</section>
{% endblock %}
